// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #344b98;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

//style for tabs
$tabs-link-color: $primary;//text color
$tabs-link-hover-color: $primary;//text color when hovering
$tabs-toggle-link-border-color: $primary;//border color

$tabs-toggle-link-hover-border-color: $primary;//border color when hovering
$tabs-toggle-link-border-width: 3px;

$tabs-toggle-link-hover-background-color: #c2ccea;

$tabs-toggle-link-active-background-color: $primary;//background color when tab is active
$tabs-toggle-link-active-color: white;//text colo when tab activated

$success:red;

$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Import Bulma and Buefy styles
@import "~bulma";
//@import "~buefy/src/scss/buefy";